.details {
    background-color: white;
    padding: 10px;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.details-btn {
    display: flex;
    justify-content: space-evenly;

}

.exercise-time {
    background-color: rgb(197, 199, 200);
    padding: 20px;
}