.details {
    background-color: white;
    padding: 10px;
    padding-bottom: 50px;
    position: sticky;
    top: 0;

}

.info {
    display: flex;
    justify-content: space-evenly;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

.details-btn {
    display: flex;
    justify-content: space-evenly;

}

.time {
    background-color: rgb(197, 199, 200);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.activity-btn {
    background-color: indianred;
    color: white;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}