.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(238, 237, 237);
}


.title {
    margin-top: 200px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 100px;

}