.cards img {
    width: 225px;
    height: 150px;
    border-radius: 8px;
    margin: 7px;
}

.cards {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 430px;
    position: relative;

}

.title {
    margin-top: 200px;
    margin-left: 100px;
}

.card-btn {
    background-color: salmon;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    width: 90%;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}